<mat-toolbar color="primary" class="navbar">
  <a class="nav-button" mat-mini-fab matTooltip="Startseite" routerLink="/landing">
    <mat-icon>home</mat-icon>
  </a>

  <a mat-mini-fab class="nav-button" routerLink="/products" matTooltip="Produkte anzeigen">
    <mat-icon>inventory</mat-icon>
  </a>

  <a mat-mini-fab class="nav-button" routerLink="/add-product" matTooltip="Produkt hinzufügen">
    <mat-icon>add</mat-icon>
  </a>

  <a mat-mini-fab class="nav-button" routerLink="/search" matTooltip="Produkte suchen">
    <mat-icon>search</mat-icon>
  </a>
</mat-toolbar>
