/* Tabla responsive */
.table-container {
  overflow-x: scroll; /* Permitir desplazamiento horizontal si es necesario */
}
.action-buttons button {
  margin: 5px 0; /* Añade un pequeño margen arriba y abajo */
  margin-right: 8px
}

/* Ajustar columnas en pantallas pequeñas */
@media (max-width: 768px) {
  table {
    width: 90%;
    display: block;
  }

  mat-header-cell, mat-cell {
    display: block;
    width: 90%;
    box-sizing: border-box;
  }

  .mat-header-cell, .mat-cell {
    padding: 10px;
  }
  .action-buttons{
    display: flex;
    flex-direction: column;
  }


}
